.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: aquamarine;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* 
*   NAVBAR
*/

.navBar {
  width: 100%;
  background-color: rgb(143, 24, 24);
  overflow: auto;
}

.navBar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navBar a:hover {
  background-color: #000;
}

.active {
  background-color: #644453;
}

@media screen and (max-width: 500px) {
  .navBar a {
    float: none;
    display: block;
  }

  .navLogin a {
    float: none;
    display: block;
  }
}


/* 
*   NAVLOGIN
*/

.navLogin {
  width: 100%;
  background-color: rgb(143, 24, 24);
  overflow: auto;
}

.navLogin a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}




