/*
* COSAS QUE VIENE POR DEFECTO PARA LA APP PRINCIPAL
*/
.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: aquamarine;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/* 
*   NAVLOGIN
*/

.navLogin {
  width: 100%;
  background-color: rgb(179, 179, 179);
  overflow: auto;
}

.navLogin a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navLogin a:hover {
  color: black;

}

@media screen and (max-width: 500px) {
  .navLogin a {
    float: none;
    display: block;
  }
}



/* 
*   FOOTER
*/
.miFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(179, 179, 179);
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 20;
}

.miFooter a:hover {
  color: black;

}

/*
* para los elementos de la lista de la tienda
*/
.itemsLista
{
  border: 2px #61dafb;
  border-style: outset;

}


@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.greetings
{
  font-size: 3vw;
  font-family: Open-Sans;
  white-space: pre-wrap;
}
